@font-face {
  font-family: "New Century Schoolbook Regular";
  src: url("fonts/newcenturyschoolbook.woff2") format("woff2"),
    url("fonts/newcenturyschoolbook.woff") format("woff"),
    url("fonts/newcenturyschoolbook.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "New Century Schoolbook Regular", Times, serif;
  width: 100%;
  max-width: 900px;
  text-align: center;
  background-color: #525659;
  margin: auto;
  font-size: 90%;
  height: 100%;
  overflow: hidden;
}

#content {
  position: relative;
  top: 20px;
  background-color: white;
  padding: 200px 175px 0 175px;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-weight: bolder;
  font-size: 1.4em;
}

h2 {
  font-weight: normal;
  font-size: 1.25em;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
  font-size: 1em;
}

input,
select {
  background-color: lightgray;
  width: 100px;
}

#fakeText {
  text-indent: 10pt;
  filter: blur(5px);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
